.NavigBar {
    background: rgb(102, 156, 166);
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding: 2rem;
}

.Dark-NavigBar {
    background: rgb(33, 34, 38);
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding: 2rem;
}

.Links-text {
    color: rgb(240, 244, 244);
}

.Dark-Links-text {
    color: rgb(248, 205, 6);
}

.Links-text-reverse {
    color: rgb(240, 244, 244);
    padding-right:5rem;
    padding-left:1rem;
}

.Dark-Links-text-reverse {
    color: rgb(248, 205, 6);
    padding-right:5rem;
    padding-left:1rem;
}

.navbar-logo {
    display: inline-block;
    padding-right: 10px;
}

.Version-text {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #754c85;
    border: .1rem solid #9ac3eb;
    border-radius: .2rem;
    color: rgb(253, 253, 253);
    display: inline-block;
    font-size: 1.4rem;
    height: 3.2rem;
    line-height: 2rem;
    outline: 0;
    padding: .5rem .8rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: auto;
}

.Dark-Version-text {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #3E3206;
    border: .1rem solid #F8CD06;
    border-radius: .2rem;
    color: rgb(248, 205, 6);
    display: inline-block;
    font-size: 1.4rem;
    height: 3.2rem;
    line-height: 2rem;
    outline: 0;
    padding: .5rem .8rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: auto;
}

.menu-downer li a {
  display: block;
  padding: 10px 30px;
}

.menu-downer-items {
  background-color: #ddd;
}

.menu-item {
  margin-right: 2px;
  position: relative;
}

.menu-downer {
  display: flex;
}

.submenu {
  position: absolute;
}

.submenu-item {
  margin-top: 1px;
}

.Footer {
    position: relative;
    background: rgb(102, 156, 166);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: .1rem solid  #9ac3eb;
    border-radius: .2rem;
    color: rgb(253, 253, 253);
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2rem;
    outline: 0;
    padding: 1vh 1vh;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.Dark-Footer {
    position: relative;
    background: rgb(33, 34, 38);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: .1rem solid  #3E3206;
    border-radius: .2rem;
    color: rgb(248, 205, 6);
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2rem;
    outline: 0;
    padding: .5rem .8rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.Company {
         color:white;
         padding-right:5rem;
         padding-left:1rem;
}

.Dark-Company {
    color: rgb(248, 205, 6);
    padding-right:5rem;
    padding-left:1rem;
}

.VK {
         color:white;
}

.Dark-VK {
    color: rgb(248, 205, 6);
}

.ProfileClick {
    cursor: pointer;
}

.Dark-navbar {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-align: stretch;
    -ms-flex-pack: justify;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}