.button-back {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgb(253, 253, 253);
    border: .1rem solid  #406469;
    border-radius: .2rem;
    color: rgb(102, 156, 166);
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    height: 3.2rem;
    line-height: 2rem;
    outline: 0;
    padding: .5rem .8rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.Dark-button-back {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgb(38, 36, 8);
    border: .1rem solid  #3E3206;
    border-radius: .2rem;
    color: rgb(248, 205, 6);
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    height: 3.2rem;
    line-height: 2rem;
    outline: 0;
    padding: .5rem .8rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-back:hover {
    color: #304C4F;
    text-decoration: none;
}

.button-view {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #279299;
    border: .1rem solid  #406469;
    border-radius: .2rem;
    color: rgb(253, 253, 253);
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    height: 3.2rem;
    line-height: 2rem;
    outline: 0;
    padding: .5rem .8rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-view:hover {
    color: #DCFFFF;
    text-decoration: none;
}

.button-rotor {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #754c85;
    border: .1rem solid  #9ac3eb;
    border-radius: .2rem;
    color: rgb(253, 253, 253);
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    height: 3.2rem;
    line-height: 2rem;
    outline: 0;
    padding: .5rem .8rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.Dark-button-rotor {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #3E3206;
    border: .1rem solid #F8CD06;
    border-radius: .2rem;
    color: rgb(248, 205, 6);
    display: inline-block;
    font-size: 1.4rem;
    height: 3.2rem;
    line-height: 2rem;
    outline: 0;
    padding: .5rem .8rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: auto;
}

.Image {
    text-align: center;
    margin: 20px;
    width: 300px;
    height: 300px;
}